.contact-details {
    text-align: center;
}

    .contact-details p {
        margin: 5px 0;
    }

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
}
