<link href="~/MyCss/AboutStyle.css" rel="stylesheet" />
<main style="display: flex; flex-direction: column; align-items: center;padding: 100px 60px 20px 60px;">
    <h3 style="text-align:center; font-weight:bold;">CÂU CHUYỆN VỀ THÀNH KHOA</h3>
    <p style="text-align: justify; text-justify: inter-word; font-size: 18px; padding-top: 3%;">
        Mây trời lãng đãng giữa buổi chiều hoàng hôn, kéo khung cảnh tất bật nơi Phú Quốc về với màn đêm yên tĩnh. Đoàn thuyền đánh cá rùng mình chuyển
        động rồi xếp hàng ra khơi. Thuyền này nối đuôi thuyền kia tạo thành một vệt dài trên biển. Đây dường như đã là bức tranh biểu tượng cho cái hồn của Phú
        Quốc - nơi được mệnh danh là hòn đảo ngọc của Việt Nam.
    </p>
    <div class="row">
        <img style="width: 100%; border-radius:10px;" src="~/Image/About-Image.jpg" />
    </div>
    <div class="row" style="padding-top:10%;padding-bottom:10%;">
        <div class="col-lg-6 col-12">
            <p style="text-align: justify; text-justify: inter-word">
                Nước mắm Thành Khoa tự hào là một trong những công ty sản xuất nước mắm truyền thống Phú Quốc của Việt Nam.
                Được tiếp nối kế thừa và phát triển qua 3 thế hệ với bề dày lịch sử hơn 100 năm.
            </p>
            <p style="text-align: justify; text-justify: inter-word">
                Tiếp nối ngành nghề truyền thống lâu đời của ông bà để lại, kế thừa ngọn lửa đam mê, niềm yêu nghề mãnh liệt từ thế hệ trước,
                Thành Khoa luôn cố gắng phát triển không ngừng và luôn tâm huyết để tạo ra những giọt nước mắm tinh hoa trao đến tay người dùng.
            </p>
            <p style="text-align: justify; text-justify: inter-word">
                Đến hôm nay, nước mắm Thành Khoa đã đi qua chặng đường dài hình thành và phát triển,
                trở thành một trong những nhà sản xuất nước mắm truyền thống Phú Quốc được bảo hộ chỉ dẫn địa lý và 28 nước liên minh Châu Âu.
                Quản lý chất lượng theo tiêu chuẩn HACCP từ bước chuẩn bị nguyên liệu đến ra thành phẩm.
            </p>
        </div>
        <div class="col-lg-6 col-12">
            <img class="img2" style="width:100%;" src="~/Image/About-Image2.jpg" />
        </div>
    </div>
    <h3 style="text-align:center; font-weight:bold;">QUY TRÌNH SẢN XUẤT</h3>
    <p style="text-align: center; font-size: 18px; padding-top: 3%; text-align: justify; text-justify: inter-word">
        Nước mắm Thành Khoa được làm từ  cá cơm than Phú Quốc, ướp với muối Bà Rịa - Vũng Tàu.
        Ủ chượp  hoàn toàn tự nhiên trong thùng gỗ từ 12 đến 15 tháng theo phương pháp truyền thống.
    </p>
    <div class="row" style="padding-top:5%;">
        <div class="col-lg-12 col-12 d-flex flex-wrap align-items-center" style="margin-bottom: 60px">
            <img class="responsive-img" src="~/Image/Image_QuyTrinh/step-1.png" />
        </div>
        <div class="col-lg-12 col-12 d-flex flex-wrap align-items-center" style="margin-bottom: 60px">
            <img class="responsive-img" src="~/Image/Image_QuyTrinh/step-2.png" />
        </div>
        <div class="col-lg-12 col-12 d-flex flex-wrap align-items-center" style="margin-bottom: 60px">
            <img class="responsive-img" src="~/Image/Image_QuyTrinh/step-3.png" />
        </div>
        <div class="col-lg-12 col-12 d-flex flex-wrap align-items-center" style="margin-bottom: 60px">
            <img class="responsive-img" src="~/Image/Image_QuyTrinh/step-4.png" />
        </div>
        <div class="col-lg-12 col-12 d-flex flex-wrap align-items-center" style="margin-bottom: 60px">
            <img class="responsive-img" src="~/Image/Image_QuyTrinh/step-5.png" />
        </div>
    </div>
</main>